# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.db-journal

# Flutter / Dart build artifacts
**/build/
.dart_tool/
.packages
.pub-cache/
.pub/
*.apk
ncb-field-drug-testing-companion-release/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
